VITE_API_GATEWAY_URL=http://127.0.0.1:8000
VITE_ARCGIS_API_KEY=YOUR_RESTRICTED_ARCGIS_KEY
VITE_MAP_DEFAULT_LAT=20.2961
VITE_MAP_DEFAULT_LNG=85.8245
VITE_MAP_DEFAULT_ZOOM=7
VITE_MAP_DISTRICT_ZOOM=10
VITE_MAP_BLOCK_ZOOM=13
VITE_MAP_VILLAGE_ZOOM=17
VITE_MAP_FARM_ZOOM=19
VITE_MAP_MAX_ZOOM=22
VITE_MAP_MIN_DRAW_ZOOM=16
VITE_MAX_GPS_ACCURACY_METERS=20
VITE_ENABLE_SAMPLE_BOUNDARY=false
